<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/phone-list">Back to Phone list</a>
</p>
<h1>Delete phone</h1>
<form th:object="${phone}" method="post" action="/phone-delete">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${phone.name}"></td>
        </tr>
        <tr>
            <td>Date Of Purchase:</td>
            <td th:text="${phone.dateOfPurchase}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td th:text="${phone.price}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td th:text="${phone.description}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td th:text="${phone.category.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>